@font-face {
    font-family: 'ShadowHand';
    src: url('//2ttf.com/webfont/UIswCwhB/webfont.ttf') format('truetype');
    font-family: 'Open Sans', sans-serif;
    font-family: "IsamiRi Display", sans-serif;
    font-family: 'Geologica', sans-serif;
}

@import url('https://cdn.jsdelivr.net/gh/isamirivers/IsamiRi-Display@main/stylesheet.css');


body {
    background-color: black;
    font-family: 'Geologica';
    margin: auto;
}

.cats-title-div {
    margin: -100px auto 0px auto;
    padding: 1vh 0 1vh 0;
    left: 0;
    background-image: linear-gradient(#1b1515, #272829);
}

.cats-title {
    text-align: center;
    color: white;
    user-select: none;
    font-family: 'IsamiRi Display';
    font-size: 12em;
}

.section-div {
    background-color: rgba(44, 39, 39, 0.4);
    margin-bottom: 4vh;
    padding: 1vh 1vw;
}

.section-div-normal {
    background-color: rgba(44, 39, 39, 0.4);
    margin-bottom: 4vh;
    padding: 1vh 1vw;
}

.section-div-biology,
.section-div-history,
.section-div-famous-cats {
    background: linear-gradient(#272829, #272829) padding-box,
        linear-gradient(to right, #864fa2, #426eb7) border-box;
    border-radius: 40px;
    border: 8px solid transparent;
}

.section-title,
.section-title-biology,
.section-title-history,
.section-title-famous-cats {
    margin-top: 2vh;
    color: white;
    font-size: 3.6em;
    border-radius: 5px;
    font-weight: 700;
}

.section-title-biology,
.section-title-history,
.section-title-famous-cats {
    font-family: "IsamiRi Display";
    text-align: center;
    font-size: 6em;
    font-weight: 200;
    margin-left: 2.5vw;
}

.section-title-history {
    margin-left: 8vw;
}

.section-title-famous-cats {
    margin-right: 8vw;
}

.section-text-div {
    margin-left: 2vw;
}

.section-text,
.section-text-biology,
.section-under-text {
    color: white;
    font-size: 2em;
    text-indent: 2.5vw;
}

.section-text-biology {
    margin-left: 3vh;
    margin-bottom: 3vh;
}

.section-text-history {
    color: white;
    font-size: 2em;
    margin-left: 9vw;
}

.section-text-famous-cats {
    color: white;
    font-size: 2em;
    margin-left: 6vw;
}


.title-line,
.title-line-food,
.title-line-behav,
.title-line-sleep,
.title-line-prehistory,
.title-line-antiquity,
.title-line-time,
.title-line-newtime,
.title-line-puss,
.title-line-jellie {
    border: 4.4px solid white;
    border-radius: 5px;
    width: 30vw;
    margin-top: -5vh;
}

.title-line-behav {
    width: 16.5vw;
}

.title-line-food {
    width: 12.5vw;
}

.title-line-sleep {
    width: 25.5vw;
}

.title-line-prehistory {
    width: 18vw;
}

.title-line-antiquity {
    width: 18.5vw;
}

.title-line-time {
    width: 21.5vw;
}

.title-line-newtime {
    width: 18vw;
}

.title-line-puss {
    width: 25.5vw;
}

.title-line-jellie {
    width: 7vw;
}

.title-line-cat {
    border: 4.4px solid white;
    border-radius: 5px;
    width: 26vw;
    margin-top: -5vh;
}

.image-div,
.image-div-benu,
.image-div-casper,
.image-div-long,
.image-div-long2,
.image-div-cat,
.image-div-boots,
.image-div-jellie {
    background: linear-gradient(transparent, transparent) padding-box,
        linear-gradient(to right, #a0d4a6, #b67295) border-box;
    border-radius: 46px;
    border: 8px solid transparent;
    height: fit-content;
    width: fit-content;
}

.image-div-benu {
    background: linear-gradient(transparent, transparent) padding-box,
        linear-gradient(to right, #fba51a, #f6ed60) border-box;
    margin-top: 25px;
}

.image-div-casper {
    background: linear-gradient(transparent, transparent) padding-box,
        linear-gradient(to right, #9a9a9a, #00dddd) border-box;
}

.image-div-long {
    background: linear-gradient(transparent, transparent) padding-box,
        linear-gradient(to right, #fba51a, #f6ed60) border-box;
    margin-left: 10px;
}

.image-div-long2 {
    background: linear-gradient(transparent, transparent) padding-box,
        linear-gradient(to right, #ea00ff, #1900ff) border-box;
    margin-left: 10px;
}

.image-div-cat {
    background: linear-gradient(transparent, transparent) padding-box,
        linear-gradient(to right, #ea00ff, #1900ff) border-box;
    margin-left: 10px;
    margin-top: 60px;
}

.image-div-boots {
    background: linear-gradient(transparent, transparent) padding-box,
        linear-gradient(to right, #b700ff, #ff006a) border-box;
        margin-top: 65px;
}

.image-div-jellie {
    background: linear-gradient(transparent, transparent) padding-box,
        linear-gradient(to right, #ffffff, #423b3b9f) border-box;
}

.long-flex {
    display: flex;
}

.image,
.long-image,
.long-image-right {
    width: 20vw;
    border-radius: 40px;
}

.long-image {
    width: 48vw;
    height: 45vh;
}

.long-image-right {
    right: 0;
}


.pedro {
    width: auto;
    height: 30vh;
    margin-top: 4px;
    border-radius: 40px;
}

.benu {
    width: auto;
    height: 30vh;
    margin-top: 4px;
    border-radius: 40px;
}

.cat {
    width: auto;
    height: 30vh;
    margin-top: 4px;
    border-radius: 40px;
}

.to-right {
    right: 0;
    margin-left: auto;
    height: 45vh;
}

.cyberpunk {
    background-image: linear-gradient(180deg, #272829, #1a1a1a);
}

.flex {
    display: flex;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    border-bottom: 1px solid #272829;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex: wrap;
}

.header-button {
    background-color: transparent;
    border: 0px;
    color: white;
    font-size: 1.8em;
    margin: auto;
    height: 4.5vh;
    font-family: "IsamiRi Display";
}

.header-button:hover {
    color: #a026dd;
    cursor: pointer;
}

.header-button:active {
    color: #c300ff;
}

.tooltip {
    font-size: 1.5em;
    font-family: 'Geologica';
    border: 1px solid black;
    border-radius: 100%;
    width: 1.65vw;
    color: white;
    background-color: transparent;
}

.tooltip:hover {
    border: 1px solid rgb(19, 17, 17);
}

.tooltip:active {
    background-color: #272829;
    border: 1px solid #272829;
}

.hidden {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
}

.animated {
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#tooltip-text {
    color: #1a1a1a;
    margin-top: 20px;
    padding: 1vh 1vw 1vh 1vw;
}

.image-div-tooltip {
    background: linear-gradient(transparent, transparent) padding-box,
        linear-gradient(to right, #a0d4a6, #b67295) border-box;
}

.image-div-tooltip:hover {
    background: linear-gradient(transparent, transparent) padding-box,
        linear-gradient(to right, #67c572, #cf5293) border-box;
}