@font-face {
    font-family: 'ShadowHand';
    src: url('//2ttf.com/webfont/UIswCwhB/webfont.ttf') format('truetype');
    font-family: 'Open Sans', sans-serif;
    font-family: "IsamiRi Display", sans-serif;
    font-family: 'Geologica', sans-serif;
}

@import url('https://cdn.jsdelivr.net/gh/isamirivers/IsamiRi-Display@main/stylesheet.css');


body {
    background-color: black;
    font-family: 'Geologica';
    margin: auto;
}

.cats-title-div {
    margin: 0 auto 0 auto;
    padding: 1vh 0 1vh 0;
    left: 0;
    background-image: linear-gradient(black, #1a1a1a);
    border-radius: 10px 10px 0px 0px;
}

.cats-title {
    text-align: center;
    color: white;
    user-select: none;
    font-family: 'IsamiRi Display';
    font-size: 12em;
}

.section-text-div {
    margin-left: 2vw;
}

.section-title {
    margin-top: 2vh;
    color: white;
    font-size: 4em;
    border-radius: 5px;
    font-weight: 700;
}

.title-line {
    border: 4.4px solid white;
    border-radius: 5px;
    width: 25vw;
    margin-top: -4.4vh;
}

.section-text {
    color: white;
    font-size: 1.8em;
    text-indent: 2.5vw;
}

.section-div {
    background-color: rgba(44, 39, 39, 0.4);
    margin-bottom: 4vh;
    padding: 1vh 1vw;
}

.flex {
    display: flex;
}

.image {
    width: 20vw;
    border-radius: 5px;
    border: 2px solid lightgray;
}

.to-right {
    right: 0;
    margin-left: auto;
    height: 45vh;
}

.cyberpunk {
    background-image: linear-gradient(180deg, #272829, #1a1a1a);
}

.pedro {
    width: 50vw;
    height: 30vh;
}
